#navbar #dropdown-header .row:nth-child(1) {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

#navbar #dropdown-header .row:nth-child(2) {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  /* background-color: aqua;  */
}

.img-logo {
  height: 80px;
  padding-right: 10px; 
  /* margin-left:1px; */
}

#navbar .dropdown-item{
  text-align: center;
}

#navbar #dropdown-basic-button{
  background-color: #1BD084;
  border-color: #1BD084;
}